<mat-card>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="userData.email" name="email" type="email" required #email="ngModel">
      @if (email.errors && email.errors['required']) {
        <mat-error>Email is required</mat-error>
      }
      @if (email.errors && email.errors['email']) {
        <mat-error>Please enter a valid email</mat-error>
      }
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="userData.password" name="password" type="password" required #password="ngModel">
      @if (password.errors && password.errors['required']) {
        <mat-error>Password is required</mat-error>
      }
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</mat-card>
