.home-container {
    display: flex;
    flex-direction: column;
  }
  
  .title-container {
    text-align: center; 
    width: 100%; 
  }
  
  .button-container {
    text-align: center; 
    width: 100%; 
  }
  